<div class="container">
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4"> 
        <button class="btn" style="float: right;"  > {{count}}</button>
        
      </div>
    </div></div>
  
    

          <div  class="col-md-4"> <h5 class="modal-title"> Items in Cart</h5></div>
          <div  class="row eachRow mb-3" *ngFor="let item of testdata" > 
            <div class="name" style="margin:30px;">Item:  {{item.blend_name}}</div>
            <div class="price" style="margin:30px;">Price:  {{item.price}}</div>
        
             
            </div>



            <div class="total">Total Amount</div>
            <div class="sum">{{priceCount}}</div>
            

            <button style="color:blue; float: right; width: 100px;" (click)="checkOut()">Checkout</button>