<!-- <header>logged in person :::</header> -->
<div class="container">
    <div class="header">
        Login as :: {{loggedValue}}
    </div>
    <div class="content">
<div class="row">
    <div class="column" style="background-color:#aaa;border-style: solid; margin-right: 30px;" *ngFor="let item of myData[0].columns">
        <img src="assets/cof1.jpg" class="imgsrc">
        <h2>{{item.label}}</h2>
      <p>{{item.rate}}</p>
    </div>
</div></div>
<div class="footer">
   <p class="f1" style="text-align:center;">Kanu Priya © 2021 Copyright: MDBootstrap.com</p>
    </div>

  <!-- <footer></footer> -->
  </div>
